asgiref==3.6.0
distlib==0.3.6
Django==4.1.6
django-crispy-forms==1.14.0
django-widget-tweaks==1.4.12
filelock==3.9.0
platformdirs==2.6.2
python-dotenv==0.21.1
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.17.1
